<!DOCTYPE html>
<html>
    <head>
        {% block head %}{% endblock head %}
        <meta charset="UTF-8" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <title>{% block title %}{% endblock title %} - Sppedcube timer</title>
    </head>
    <body>
        <div id="header">
            {% block header %}
            <h1><a href="{{ url_for('timer') }}">Cube timer</a></h1>
            <ul>
                <li>
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">
                        <img
                            width="40"
                            height="40"
                            src="{{ url_for('static', filename='img/login.svg') }}"
                            alt="login"
                        />
                    </a>
                    {% else %}
                    <a href="{{ url_for('logout') }}">
                        <img
                            width="40"
                            height="40"
                            src="{{ url_for('static', filename='img/logout.svg') }}"
                            alt="logout"
                        />
                    </a>
                    {% endif %}
                </li>
                <li>
                    <a href="{{ url_for('timer') }}">
                        <img
                            width="40"
                            height="40"
                            src="{{ url_for('static', filename='img/timer.svg') }}"
                            alt="timer"
                        />
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('index') }}">
                        <img
                            width="40"
                            height="40"
                            src="{{ url_for('static', filename='img/home.svg') }}"
                            alt="home"
                        />
                    </a>
                </li>
            </ul>
        </div>
        {% endblock header %}

        <div id="content">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div id="flash">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %} {% endwith %} {% block content %} Content {% endblock content %}
        </div>

        <div id="footer">{% block footer %} By Takos {% endblock footer %}</div>
    </body>
</html>
