<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock title %} - Sppedcube timer</title>
        {% endblock head %}
    </head>
    <body>
        <div id="header">{% block header %}
            <h1>Cube timer</h1>
            <h2>By takos</h2>
        {% endblock header %}</div>

        <div id="content">{% block content %}
            Content{% endblock content %}
        </div>

        <div id="footer">{% block footer %}
            Footer
        {% endblock footer %}</div>
    </body>
</html>
